<h1>新規投稿</h1>
<%= form_with model: @question, local: true do |form| %>
  <div class="question-title">
   <%= form.label :title, "【質問】" %>
   <div>
    <%= form.text_area :title, cols: 50, row: 3, size: "76" %>
   </div>
  </div>
  <div class="question-detail">
    <%= form.label :detail, "【詳細】" %>
    <div>
      <%= form.text_area :title, cols: 50, row: 3, size: "76" %>
   </div>
  </div>
  <%= form.submit "送信", class:'btn-block btn-info' %>
<% end %>

<div class="container question-container">
  <% @questions.each do |question| %>
    <%= link_to question do %>
      <div class="row question border rounded">
        <div class="col-md-7 title-container">
          <p><%= question.title %></p>
        </div>
        <div class="col-md-5 info text-right">
          <p>質問日<%= l question.created_at, format: :medium %></p>
          <p><%= question.view_count %>views</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
