<h3>【質問】</h3>
<%= @question.title %>
<h3>【詳細】</h3>
<%= @question.detail %>

<% @answers.each.with_index(1) do |answer, index| %>
  <h3>【回答<%= index %>】</h3>
  <p><%= answer.content %></p>
<% end %>

<h1>回答投稿</h1>
<%= form_with model: [@question, @answer], local: true do |form| %>
  <div>
    <%= form.label :content, "【回答】" %>
      <div>
        <%= form.text_area :content, class:'form-control' %>
      </div>
  </div>
  <div>
    <%= form.submit "送信", data: {confirm: "投稿しますか?"} , class:'btn-block btn-info' %>
  </div>
<% end %>
