<p>【質問】 <%= @question.title %></p>
<p>【詳細】 <%= @question.detail %></p>

<% @answers.each.with_index(1) do |answer, index| %>
  <p>【回答<%= index %>】</p>
  <p><%= answer.content %></p>
<% end %>

<h1>回答投稿</h1>
<%= form_with model: [@question, @answer], local: true do |form| %>
  <div>
    <%= form.label :content, "【回答】" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit "送信", data: {confirm: "投稿しますか?"} %>
  </div>
<% end %>
